absl-py==2.1.0
aiobotocore==2.12.1
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
astunparse==1.6.3
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
bleach
bokeh
boltons
botocore==1.34.51
Bottleneck
brotlipy==0.7.0
CacheControl==0.14.0
cachetools==5.3.2
certifi==2024.2.2
cffi
chardet
charset-normalizer==2.1.1
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
cytoolz
dask
datasets
datashader
datashape
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docstring-to-markdown
docutils
entrypoints
executing
fastjsonschema
filelock
flake8
Flask
frozenlist
fsspec
future
glob2
gmpy2
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
h5py
HeapDict
holoviews
httplib2
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libclang
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
miniful
mistune
ml-dtypes
mne
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres
mypy-extensions
mysql-connector-python
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauthlib
opencv-python
openpyxl
opt-einsum
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy
pep8
pexpect
pickleshare
Pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
pooch
poyo
prometheus-client
prompt-toolkit
Protego
proto-plus
protobuf
psutil
psycopg2
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
PyDispatcher
pydocstyle
pyerfa
pyflakes
pyFUME
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder
PyMySQL
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-osc
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rope
rsa
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
sacremoses
schedule
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
service-identity
simpful
sipk
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
starlette
statsmodels
sympy
tables
tabulate
TBB
tblib
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-macos
termcolor
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
Twisted
typing_extensions
uc-micro-py
ujson
Unidecode
uritemplate
urllib3
uvicorn
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard
